/* Adjust the scroll position to account for the fixed navbar */
:target::before {
    content: "";
    display: block;
    height: 70px; /* Adjust this value to match the height of your fixed navbar */
    margin: -70px 0 0; /* Negative margin to compensate for the fixed navbar */
}


a {
    text-decoration: none;
}
img {
    width: 100%;
}




/* social navbar */
.social-nav{
    background-color: blueviolet;
    padding-top: 5px;
    padding-bottom: 5px;
}
.social-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: white;
}

.social-links a{
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 100%;
}
.social-links a:hover{
    background-color: white;
    color: blueviolet;
}

/* fixed navbar */
.navbar {
    top: 0px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: black;
}
.nav-link:hover,
.nav-link.active {
    color: blueviolet;
}

/* profile */
.student{
    font-size: 19px;
    font-weight: 400 !important;
    color:grey;
}

@media (min-width: 990px) {
    .profile-padding {
        padding-right: 10%;
    }
}

/* about me */
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-space {
    margin-right: 30px;
}
.big {
    font-size: 20px;
    color: black;
}

.hobby-text{
    padding-left: 2%;
    padding-right: 5%;
    background-color: rgb(237, 237, 237);

    border-width: 2px;
    border-style: solid;
    border-color: grey;
}


.hobby-container{
    display: flex;
    justify-content: center;
    height: 400px;

    /* border-width: 2px;
    border-style: solid;
    border-color: rgb(226, 226, 226); */

}
.slide img {
    width: 220px; /* Limit max height to 200px */
    max-height: 400px;
}

/* skills */
@media (min-width: 768px) {
    .border-md-y{
        border-top: 2px solid;
        border-bottom: 2px solid;
    }
}
@media (max-width: 767px) {
    .border-sm-x {
        border-left: 2px solid;
        border-right: 2px solid;
    }
}
/* projects */
.card-border{
    border-width: 3px;
}